@import 'font.css';

body {
    width: 100%;
    height: 100vh;

    color: #fff;
    font-family: 'Montserrat', sans-serif;

    background: url('../images/background-rb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.79);
    z-index: -2;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../images/bg-pattern.png);
    z-index: -1;

    animation: backgroundPanel_anim 1000s linear infinite;
}

@keyframes backgroundPanel_anim {
    0% {
        background-position-x: 0;
    }
    25%, 50%, 75% {
        background-position-x: 3000px;
    }
    100% {
        background-position-x: 0;
    }
}

.app-notify {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    align-items: center;
    justify-content: center;

    gap: 10px;

    text-align: center;
    padding: 10px 0;    
    background: #1111118c;

    user-select: none;
    -webkit-user-select: none;
}

.app-notify.visible {
    display: grid;
}

.app-notify-title {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
}

.app-notify-subtitle {
    max-width: 600px;

    font-size: 18px;
    line-height: 21px;
    font-weight: 500;

    text-align: center;

    margin: 0 auto;
}

.app-notify-link {
    display: inline-flex;
    gap: 5px;

    color: #43afff;
    font-weight: 600;

    text-transform: uppercase;

    text-decoration: none;
    transition: .3s;
}

.app-notify-link:hover {
    color: #fff;
}

.app-notify-button {
    padding: 5px 20px;

    color: #fff;
    background: #43afff;

    text-transform: uppercase;
    font-weight: 600;

    border: none;
    outline: none;
    border-radius: 5px;

    -webkit-user-select: none;
    user-select: none;
    transition: .3s;
}

.app-notify-button:hover {
    color: #43afff;
    background: #fff;
}

.app-notify-button:focus {
    outline: 0;
}

.app-main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
}

.main-content {
    width: 600px;
    margin: 0 auto;
    display: block;
}

.main-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: .5rem;

    -webkit-user-select: none;
    user-select: none;
}

.main-subtitle {
    font-style: italic;
    font-weight: 500;
    margin-bottom: 1rem;

    -webkit-user-select: none;
    user-select: none;
}

.main-company {
    color: #43afff;
}

.main-input {
    width: 100%;
    height: max-content;
    
    padding: 5px 10px;

    color: #fff;
    background: #252525;

    font-weight: 600;

    border: none;
    outline: none;
    border-radius: 5px;
}

.main-input:focus::placeholder {
    opacity: 0;
}

.main-input::placeholder {
    color: rgba(192, 192, 192);
    transition: .3s;

    -webkit-user-select: none;
    user-select: none;
}

.main-result {
    background: #252525;

    margin: 10px 0 0 0;
    padding: 10px;

    border-radius: 5px;

    display: none;
}

.main-result.data-get {
    display: block;
}

.result-title {
    font-weight: 600;
    font-size: 20px;
    font-style: italic;

    margin: 0 0 10px 0;

    -webkit-user-select: none;
    user-select: none;
}

.result-content {
    margin: 10px 0;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-button {
    width: 100%;
    height: max-content;

    padding: 5px 20px;

    color: #fff;
    background: #43afff;

    text-transform: uppercase;
    font-weight: 600;

    border: none;
    outline: none;
    border-radius: 5px;

    -webkit-user-select: none;
    user-select: none;
    transition: .3s;
}

.result-button:focus {
    outline: none;
    border: none;
}

.result-button:hover {
    color: #43afff;
    background: #fff;
}

.main-button {
    width: max-content;
    height: max-content;

    margin-top: 1rem;
    padding: 5px 20px;

    color: #fff;
    background: #43afff;

    text-transform: uppercase;
    font-weight: 600;

    border: none;
    outline: none;
    border-radius: 5px;

    -webkit-user-select: none;
    user-select: none;
    transition: .3s;
}

.main-button:focus {
    outline: none;
    border: none;
}

.main-button:hover {
    color: #43afff;
    background: #fff;
}

.main-button:disabled {
    color: #a8a8a8;
    background: #9d2019;
}

.app-discord-social {
    position: fixed;
    
    right: 25px;
    bottom: 25px;

    width: max-content;
    height: max-content;

    color: #fff;
    font-size: 30px;

    opacity: 0.3;

    transition: .3s;
}

.app-discord-social:hover {
    color: #7289da;
    opacity: 1;
}

@media (max-width: 991px) {
    .main-content {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .app-notify {
        padding: 10px 20px;
    }

    .main-title {
        font-size: 1.5rem;
    }
}